
@import './tailwind.css';
@import './forms.css';

.container {
    margin: 0 auto;
    max-width: 1920px;
    width: calc(100% - 2rem);
}

.active-sortable-tr {
    @apply bg-slate-200;
}
.flex button {
    @apply w-fit;
}

