
@import './tailwind.css';
@import './forms.css';

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 2rem);
}
.menu-container {
    margin: 0 auto;
    max-width: 1920px;
    width: calc(100% - 2rem);
}

.active-sortable-tr {
    @apply bg-slate-200;
}

pre {
    @apply overflow-x-auto p-2 text-sm; 
}
