

html.dark {
    color-scheme: light;
}
body.modal-open {
    overflow: hidden;
}

body ::selection {
    color: black;
    background: gainsboro;
}

section {
    @apply pt-20 pb-24;
}

section + section {
    @apply pt-0;
}

.hero {
    @apply bg-cover bg-center bg-no-repeat;
}

.hero-overlay {
    @apply bg-black bg-opacity-50;
}

.hero-text {
    @apply text-white text-center text-2xl md:text-4xl;
}

/* .container {
    @apply mx-auto max-w-5xl;
    width: calc(100% - 2rem)
} */

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 2rem);
}
.menu-container {
    margin: 0 auto;
    max-width: 1920px;
    width: calc(100% - 2rem);
}

.active-sortable-tr {
    @apply bg-slate-200;
}

pre {
    @apply overflow-x-auto p-2 text-sm; 
}

.hero-title {
    @apply font-extrabold text-3xl md:text-5xl;
}

.title {
    @apply font-bold text-2xl md:text-4xl;
}

.subtitle {
    @apply font-bold text-2xl md:text-3xl;
}

.btn {
    @apply h-8 px-4 rounded inline-flex gap-3 items-center max-w-max text-white bg-blue-600 text-sm;
}

.btn-outline {
    @apply bg-opacity-0 text-blue-600 border border-blue-600
}

.btn-link {
    @apply border-0 underline bg-transparent text-blue-600
}

.btn-dark {
    @apply bg-blue-700;
}

.btn-dark.btn-outline {
    @apply text-blue-700 border-blue-700
}




.line-clamp-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mask {
    overflow: hidden;
}
